@import "../../../styles/variables.scss";

.Stages {
  position: absolute;
  right: 0;
  z-index: 1;

  background: $black-5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 1em;
  width: calc(100% - 2em);

  overflow: hidden;

  .Menu {
    border: none;
    background: none;
    align-self: flex-end;
  }

  .Remunerations {
    width: 100%;

    display: flex;
    flex-direction: column-reverse;

    .Remuneration {
      background: $white-100;

      padding: 1em 0;
      border: 1px solid $black-40;
      margin: 4px 0;

      width: 100%;
      text-align: center;

      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 116%;
    }

    .Active {
      color: $orange-100;
      border-color: $orange-100;
    }
    .Passed {
      color: $black-40;
      border-color: $black-40;
    }
  }
}
