@import "../../styles/variables.scss";

.StartPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  padding: 1em;

  overflow: hidden;

  .HandThumbUp {
    width: 100%;
  }

  .PageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .Title {
      text-align: center;

      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 116%;
    }
  }
}

.Triangle {
  z-index: -1;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 100vh solid transparent;

  border-right: 100vw solid $orange-5;
}
