@import "../../styles/variables.scss";

.OverPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  padding: 1em;

  overflow: hidden;

  .HandThumbUp {
    width: 100%;
  }

  .PageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .ScoreLabel {
      text-align: center;

      color: $black-100;
      opacity: 0.5;

      font-weight: 600;
      font-size: 18px;
      line-height: 116%;

      margin-block-end: 0;
    }
    .Score {
      margin-block-start: 0.4em;

      text-align: center;

      font-size: 32px;
      line-height: 116%;
    }
  }
}
