@import "../../styles/variables.scss";

.GamePage {
  position: relative;
  background: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: 100%;
  padding: 1em;

  overflow: hidden;

  .QuestionText {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 116%;
  }
}
