@import "../../../styles/variables.scss";

.Answers {
  .Answer {
    background: $white-100;
    // background: blue;
  }
  .Selected {
    background: $orange-5;
  }
  .Wrong {
    background: $red-5;
  }
  .Correct {
    background: $green-5;
  }
}
